:root {
    --font-family-sans: sans-serif;
    --font-family-serif: Georgia;
    --copy: "1em";

    --primary: #E43542;
    --secondary: #111;
    --disabled: #999;

    --shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.05);
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-sans);
    font-size: var(--copy);
    line-height: 1.5;
}

.main {
    padding: 0 5px 50px;
    width: 100%;
    color: var(--primary);
    text-align: center;
}

.comic-title {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    color: var(--primary);
    margin-top: 88px;
}

.comic {
    margin: 10px auto;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: var(--shadow);
}

details {
    margin-top: 23px;
    margin-bottom: 37px;
}

details summary {
    cursor: pointer;
    text-decoration: underline;
}

details summary::after {
    content: attr(data-closed)
}

details[open] summary::after {
    content: attr(data-open)
}

details summary::marker {
    display: inline-block;
    width: 10px;
}

details summary::marker {
    content: "+"
}

details[open] summary::marker {
    content: "- "
}

.saloon-link {
    font-style: italic;
}

.comic img {
    width: 100%;
    height: auto;
}

a,
a:visited {
    color: var(--primary);
}

#info {
    padding: 0 50px;
}
@media screen and (min-width:1000px) {
    .main {
        padding: 0 30px;
        text-align: left;
        display: grid;
        grid-template-columns: 583px 1fr;
    }

    .comic {
        margin: 90px 0 50px 74px;
    }

    #info {
        padding: 0 0 0 81px;
    }

    .comic-title {
        margin-top: 256px;
    }
}

/* The Saloon */

.contents {
    padding: 50px 30px;
}

.about h2 {
    font-size: 1em;
}

.journal {
    /* padding: 0 20px; */
    /* text-align: center; */
    margin: 20px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--primary);
}

.journal date {
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--primary);
}

.journal date::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: var(--primary);
}

.journal header {
    text-align: left;
    overflow: hidden;
    margin-bottom: 50px;
}

.journal .text,
.journal .link {
    color: var(--primary);
    margin: 32px 10px;
    padding: 10px 34px;
}

.journal img {
    max-width: 100%;
    max-height: 400px;
    box-shadow: var(--shadow);
}

.marquee {
    --tw: 116px;
    --ad: 2.5s;
    display: inline-block;
    white-space: nowrap;
    font-family: serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1em;
    color: var(--primary);
    width: var(--tw);
    text-shadow: var(--tw) 0 currentColor,
        calc(var(--tw) * 2) 0 currentColor,
        calc(var(--tw) * 3) 0 currentColor,
        calc(var(--tw) * 4) 0 currentColor,
        calc(var(--tw) * 5) 0 currentColor,
        calc(var(--tw) * 6) 0 currentColor,
        calc(var(--tw) * 7) 0 currentColor,
        calc(var(--tw) * 8) 0 currentColor,
        calc(var(--tw) * 9) 0 currentColor,
        calc(var(--tw) * 10) 0 currentColor;
    will-change: transform;
    animation: marquee var(--ad) linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#load-more {
    background: none;
    border: none;
    text-decoration: underline;
    color: var(--primary);
}

#loading {
    display: block;
    text-align: center;
}

#loading::after {
    content: "loading...";
    display: block;
    animation: loading 1s linear infinite;
    -webkit-animation: loading 1s linear infinite;
    white-space: pre;
}

#loading.done-loading::after {
    animation: none;
    content: "";
}

@-webkit-keyframes loading {
    0% {
        content: " "
    }

    25% {
        content: "."
    }

    50% {
        content: ".."
    }

    75% {
        content: "..."
    }

    100% {
        content: "..."
    }
}

@keyframes loading {
    0% {
        content: " "
    }

    25% {
        content: "."
    }

    50% {
        content: ".."
    }

    75% {
        content: "..."
    }

    100% {
        content: "..."
    }
}

#archive {
    padding: 20px;
}

#archive ol li::marker {
    color: var(--primary);
}

@media screen and (min-width:1000px) {
    .contents {
        position: fixed;
        width: 500px;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        padding: 50px;
    }

    .journal {
        position: fixed;
        right: 0;
        left: 500px;
        bottom: 0;
        top: 0;

        overflow: auto;

        margin: 20px 0;
        border-top: none;
        border-left: solid 1px var(--primary);
        padding: 20px;
    }

    .journal img {
        width: auto;
        max-width: 500px;
    }
}